In [1]:
from dqn_agent import DQNAgent
from battleship_env import BattleshipEnv
env = BattleshipEnv()
agent = DQNAgent(env)
agent.epsilon=0
agent.load("battleship-dqn.h5")

# play one game
state = env.reset()
env.render()
done = False
hit = 0
while not done:
    action = int(agent.act(state))
    next_state, reward, done, info = env.step(action)
    env.render()
    state = next_state
    hit += 1
env.render()
print("Number of hits to win the game:", hit)

2023-04-30 18:19:40.496421: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
/Users/francoiswallyn/Desktop/ENSAI/3A/RL/BattleShip-RL/battleship/lib/python3.10/site-packages/keras/optimizers/legacy/adam.py:117: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super().__init__(name, **kwargs)

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⬜  ⬜  ⬜  ⬛  ⬜
4  ⬜  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 244ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⬜  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 35ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 31ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 27ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 31ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 28ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 31ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 27ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 61ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 28ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 37ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 28ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 31ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 38ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 35ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 45ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 32ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 36ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 30ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 36ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 32ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 147ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 46ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 46ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

1/1 [==============================] - 0s 56ms/step

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

   A  B  C  D  E
1  ⬛  ⬛  ⬛  ⬜  ⬜
2  ⬜  ⬜  ⬜  ⬛  ⬜
3  ⚫  ⬜  ⬜  ⬛  ⬜
4  ⚫  ⬛  ⬜  ⬜  ⬜
5  ⬜  ⬛  ⬜  ⬜  ⬜

Number of hits to win the game: 25